*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    padding-left: 2.3%;
    padding-top: 0.5%;
    display: flex;
    background: #000000;
}

.wrapper .singleImage img{
    width: 600px;
    height: 1165px;
    margin: 2px;
}
